html, body {
  height: 100%;
  width: 100%;
  margin:0px;
}

@font-face {
  font-family: "NightZone";
  src: url("../../fonts/NightZone.ttf")format('truetype');
}

@font-face {
  font-family: "coolvetica";
  src: url("../../fonts/coolvetica.otf")format('opentype');
}



@media only screen and (min-width: 500px) {



.hidden{
    display:none;
}

#mobile{
  display:none;
}

.desktop{
  display:flex;
}

hr{
z-index: 1;
}

#bar{
    display:flex;
    flex-direction: row;
    background-color: orange;
    justify-content: space-between;
    width: 100%;
    float:right;
    height: 15vh;
    position:fixed;
    top:0;
    left:0;
    z-index: 4;
}

#bar-bulogo{
  width:25vh;
  height:auto;
  margin-right: 10vw;
  margin-top: 1vh;
  margin-left:10vw;
}
   
.bar-smallbaricon{
  width:20vh;
  height:auto;
}

.bar-bigbaricon{
    width: 15vh;
    height: auto;
}

#bar-con{
  margin-left: 5vw;
  margin-right:0vw;
}

#bar-signin{
  margin-right:2vw;
  margin-left:0vw
}

.home-desktopsidebar{
    float:left;
    background-color: #ffffff;
    display:flex;
    width:30%;
    flex-direction: column;
    height: 90vh;
    margin-bottom: 0;
    position: absolute;
    z-index: 9;
    top:0;
}

.home-sbar{
    width:60%;
    margin:auto;
    margin-top:5vh;
}

#home-sbar-word{
  margin-top:0vh;
}

  #seperatetop{
  width:70%;
  margin-left:30vw;
  height:15vh;
}

#homesection{
    display:flex;
    background-color: #68b436;
    width:70%;
    height:75vh;
    justify-content: space-between;
    background-image: url(../assets/homepage/bg_mobile.png) ;
    margin-left:30%;
}


    
.home-leftsec{
    display:flex;
    flex-direction: column;
}

#home-section-lizard{
    width:20vw;
    height: auto;
    margin:auto;
    margin-right: 10vw;
    margin-top:10vh;
    margin-bottom:10vh;
}
    
#home-section-text{
  margin-left: 5vw;
  font-family: 'coolvetica','coolvetica',serif;
  color: white;
  font-weight: 2;
  font-size: 5vh;
  
}

#home-section-line{
    width:40vw;
    height:auto;
    margin-left:-10vw;
    margin-top:20vh;
    z-index:10;
}

#home-section-know{
    width: 15vw;
    height: auto;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 2vh;
}

#resourecssection{
  display:flex;
  flex-direction:column;
  background-color: #008dd2;
  width:100%;
  height:75vh;
  background-image: url(../assets/homepage/bg_mobile.png);
  justify-content: space-between;
}

#resources-titletext{
  font-size:7vh;
  margin:0vh;
  padding:0vh;
  margin-left:2vw;
  font-family: 'coolvetica','coolvetica',serif;
  color: white;
}

#resources-titleline{
  width: 50vw;
  margin-left:10vw;
  border: 0.5vh solid white;
  color: #ffffff;
  opacity:100%;
}


#resources-title{
  width: 70vw;
  height: 20vh;
  z-index:3;
}

#resources-content{
  display: flex;
  flex-direction:row;
  margin-left:5vw;
  margin-bottom:2vh;
  z-index:3;
}

#resources-lizard{
  width: 22.5vw;
  height: auto;
}

#resources-textbox{
  margin-left: 5vw;
  margin-top:20vh;
}

#resources-box{
  width: 25vw;
  height: auto;
  
}

#resources-textboxtext{
  margin-top:-13vh;
  font-weight: 2;
  font-family: 'coolvetica','coolvetica',serif;
}

#resources-bulletwrapper{
  display: block;
  margin-left:-10vw;
}

.resources-bullets{
  width: auto;
  height: 12.5vh;
  margin-bottom:2.5vh;
}

#resources-bg{
  border-bottom: 75vh solid #ea0f81;
	border-left: 0px solid transparent;
	border-right: 50vh solid transparent;
	height: 0;
	width: 50vw;
  position: absolute;
  z-index:2;
}

#bandbsection{
  display:flex;
  flex-direction:column;
  background-color: #ea0f81;
  width:100%;
  height:75vh;
  background-image: url(../assets/homepage/bg_mobile.png) ;
  justify-content: space-between;
}

#bandb-titletext{
  font-size:7vh;
  margin:0vh;
  padding:0vh;
  margin-left:2vw;
  font-family: 'coolvetica','coolvetica',serif;
  color: white;
}

#bandb-titleline{
  width: 50vw;
  margin-left:10vw;
  border: 0.5vh solid white;
  color: #ffffff;
  opacity:100%;
}

#bandb-title{
  width: 70vw;
  height: 20vh;
  margin-bottom: 0;
  z-index:3;
}

#bandb-contents{
  display: inline-flex;
  flex-direction: row;
  margin-bottom: 15vh;
  z-index:3;
}

#bandb-iconswrapper{
  display:flex;
  flex-direction: row;
  margin-top:0vh;

}

.bandb-icons{
  width: auto;
  height: 15vw;
  margin-left: 3.5vw;
  margin-top:0vh;
}

#bandb-goattext{
  margin-top: -25vh;
}

#bandb-goat{
  width:40vw;
  height: auto;
  margin-left:5vw;
  /*margin-top: -25vh;*/
}

#bandb-textboxtext{
  margin-left:10vw;
  margin-top: -25vh;
  width:20vw;
}

#bandb-bg{
  border-bottom: 75vh solid #68b436;
	border-left: 50vh solid transparent;
	border-right: 0vh solid transparent;
	height: 0;
	width: 50vw;
  position: absolute;
  z-index:2;
  right:0;
}

#talksection{
    display:flex;
    flex-direction: column;
    background-color: #68b436;
    width:100%;
    height:75vh;
    background-image: url(../assets/homepage/bg_mobile.png)  ;
    justify-content: space-between;
}


#talk-titletext{
  font-size:7vh;
  margin:0vh;
  padding:0vh;
  margin-left:2vw;
  font-family: 'coolvetica','coolvetica',serif;
  color: white;
}

#talk-titleline{
  width: 50vw;
  margin-left:10vw;
  border: 0.5vh solid #ffffff;
  color: #ffffff;
  opacity:100%;
}

#talk-title{
  z-index:3;
}

#talk-contents{
  display:flex;
  flex-direction:row;
  margin-right:5vw;
  z-index:3;
}

#talk-dog{
  width:30vw;
  height:30vw;   
}

#talk-bulletwrapper{
  display:inline-block;
  margin-left:5vw;
}

.talk-bullets{
  height: 7.5vh;
  width: auto;
  margin:2vh;
}

#talk-talk{
  height:20vh;
  width:auto;
}

#talk-bg{
  border-bottom: 75vh solid #008dd2;
	border-left: 0px solid transparent;
	border-right: 50vh solid transparent;
	height: 0;
	width: 50vw;
  position: absolute;
  z-index:2;
}

#s4ytsection{
  display:flex;
  flex-direction:row;
  background-color: #68b436;
  width:100%;
  height:75vh;
  background-image: url(../assets/dollarpage/background.png) ;
  justify-content: space-between;
}

#s4yt-leftsec{
display:flex;
flex-direction: row;
margin-left:5vw;
margin-top:2vh;
}

#s4yt-paper{
width:auto;
height:65vh;
margin-top:2vh;

}

#s4yt-click{
width:auto;
height: 20vh;
margin-left:-4vw;
margin-bottom:2vh;
}


#s4yt-midsec{
width:30vw;
margin-right: 10vw;
margin-top:5vh;
}

.s4yt-midsec-bigword{
font-size: 2vw;
margin-bottom: 0;
font-family: "NightZone","NightZone",serif;
color: white;
}

.s4yt-midsec-smallword{
font-size: 1.2vw;
}
  
#s4yt-boat{
width:20vw;
height:auto;
}

#s4yt-rightsec{
display:flex;
flex-direction: column;
justify-content: space-around;
}

.s4yt-tag{
width:15vw;
height:auto;
justify-content: space-around;
margin-right:5vw;
}

#seperatebottom{
  height:10vh;
  width:100%;
}

#consection{
  display:flex;
  flex-direction:row;
  background-color: #008dd2;
  width:100%;
  height:75vh;
  background-image: url(../assets/homepage/bg_mobile.png) ;
  justify-content: space-between;
}

#con-photo{
  margin-top:10vh;
  margin-left:5vw;
  z-index:3;
}

.con-pictures{
  width:25vw;
  height: auto;
}

.con-button{
  width:10vw;
  height:8vh;
  border-radius: 2vh;
  margin-bottom: 1vh;
  background-color: transparent;
  border-color: #ffffff;
  color: #ffffff;
  border-width: 0.5vh;
  font-family: 'coolvetica','coolvetica',serif;
  font-size: 3vh;
}

#con-choose{
  display:flex;
  flex-direction: row;
  margin-right: 5vw;
  z-index:3;
}

#con-buttons{
  display:flex;
  flex-direction: column; 
  margin-left: 0vw;
  margin-top: 7.5vh;
}

#con-paragraph{
  margin-left: 8vw;
  border-radius: 1vh;
  background-color: #68b436;
  width:40vw;
  height: 60vh;
  margin-top: 7.5vh;
  margin-left:2vw;
}

#paragraph1{
  width:30vw;
  margin-left:5vw;
  margin-top: 5vh;
}

.con-info-title{
  font-family: 'coolvetica','coolvetica',serif;
  color: #ffffff;
}

#paragraph2{
  width:30vw;
  margin-left:5vw;
  margin-top: 5vh;
}


#con-c-title{
  color: #ffffff;
  font-size: 3vh;
  text-align: center;
}

#con-c-form{
  display:flex;
  flex-direction:row;
  height: 20vh;
}


.con-c-ft{
  font-size: 2vh;
  margin:0;
  padding-top: 0.2vh;
  padding-bottom: 0.2vh;
  margin-bottom:2vh;
  color: #ffffff;
  
}
#con-c-form-form{
  margin-left: 3vw;
  height:10vh;
}



.con-c-ff{
  width: 20vw;
  background-color: #68b436;
  border-radius: 0.5vh;
  border-color: #ffffff;
  height:4vh;
  margin-top:0;
  margin-bottom:2vh;
  border:2px solid #ffffff;
}


.con-c-support input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.con-c-support label {
  display: inline-block;
  background-color: transparent;
  padding: 10px 20px;
  font-family: sans-serif, Arial;
  font-size: 3vh;
  border: 2px solid #ffffff;
  border-radius: 1vh;
}

.con-c-support input[type="radio"]:checked + label {
background-color:#bfb;
border-color: #4c4;
}

.con-c-su{
  width:10vw;
  margin-left: 2vw;
}

#con-c-support-down{
  margin-top: 2vh;
}
.con-c-sd{
  width:10vw;
  margin-left: 2vw;
}

.con-csud{
  color: #ffffff; 
  font-weight: bold;
}

#con-c-next1{
  background-color: #ea0f81;
  color: #ffffff;
  margin-top: 2vh;
  border:0px;
  border-radius: 1vh;
  width: 5vw;
  height:5vh;
  font-family: 'coolvetica','coolvetica',serif;
}

#con-bg{
  border-bottom: 75vh solid #ea0f81;
	border-left: 0px solid transparent;
	border-right: 50vh solid transparent;
	height: 0;
	width: 50vw;
  position: absolute;
  z-index:2;
}


footer{
  background-color: #ea0f81;
  width: 100%;
  height:10vh;
  align-items: left;
  margin:0;
  float: left;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10;
}

#partner{
  margin-left:5vw;
  display:flex;
  flex-direction: row;
}

#powerbyt{
  font-family: 'coolvetica','coolvetica',serif;
  color: white;
  font-size: 5vh;
  font-weight: 2;
  margin-bottom: 2.5vh;
}

.sponsor{
  height: 8vh;
  width: auto;
  margin: auto;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

#listbar{
  list-style: none;
  margin: 0;
  padding: 0;
}

#listbar li{
  display:inline-flex;
  margin-right:2px;
  height: 20vh;
  width: auto;
}


}


@media only screen and (max-width: 500px) {
  #desktop{
    display:none;
  }

  .hidden{
    display: none;
  }

  #menu-phonebar{
      width:100%;
      height:18vh;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      background-color: #ef7f1a;
  }

  #menu_homebutton{
    background-color: transparent;
    border-color: transparent;
  }

  #menu-bar-logo{
    margin-top: 2.5vh;
    height:13.5vh;
  }

  #menu_signinbutton{
    width:20vw;
    background-color: transparent;
    border-color: transparent;
  }

  #menu-signin{
    width: 20vw;
  }

  #menu_bar_menubutton{
    margin-top: 2.5vh;
    height:13.5vh;
    background-color: transparent;
    border-color: transparent;
  }

  #menu-menuimage{
    height:13.5vh;
  }

  #menu-button{
    background-color: white;
  }

  .menu-option{
    width: 100%;
    height:16.4vh;
    margin:0;
    border-width: 0px;
    background-color: #ef7f1a;
  }

  .menu-images{
    height:15vh;
  }


  #sectionhome{
    height:75vh;
  }

  #home-phonebar{
    width:100%;
    height:18vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #ffffff;
  }

  #home-bar-logo{
    margin-top: 2.5vh;
    height:13.5vh;
  }

  .home_bar_menubutton{
    margin-top: 2.5vh;
    height:13.5vh;
    background-color: transparent;
    border-color: transparent;
  }

  .home-bar-menuimage{
    height:13.5vh;
  }

  #home-up{
    height:45vh;
    background-color: #68b436;
    display: flex;
    justify-content: center;
    background-image: url(../assets/homepage/bg_mobile.png) ;

  }

  #home-lizard{
    height:40vh;
    margin-top: 2.5vh;
  }

  #home-down{
    height:30vh;
    background-color: #ef7f1a;
    display: flex;
    flex-direction: column;
  }

  #home-know{
    width:50vw;
    margin-top: 2vh;
    margin-left: 25vw;
  }

  #home-word{
    font-size:xx-large;
    font-family: 'coolvetica','coolvetica',serif;
    width:85vw;
    text-align: center;
    margin-left: 7.5vw;
    color: #ffffff;
  }

  #resource-phonebar{
    width:100%;
    height:18vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #ef7f1a;
  }

  #resource-bar-logo{
    margin-top: 2.5vh;
    height:13.5vh;
  }


  #bandb-phonebar{
    width:100%;
    height:18vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #ef7f1a;
  }

  #bandb-bar-logo{
    margin-top: 2.5vh;
    height:13.5vh;
  }


  #talk-phonebar{
    width:100%;
    height:18vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #ef7f1a;
  }

  #talk-bar-logo{
    margin-top: 2.5vh;
    height:13.5vh;
  }


  #s4yt-phonebar{
    width:100%;
    height:18vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #ef7f1a;
  }

  #s4yt-bar-logo{
    margin-top: 2.5vh;
    height:13.5vh;
  }


  #con-phonebar{
    width:100%;
    height:18vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #ef7f1a;
  }

  #con-bar-logo{
    margin-top: 2.5vh;
    height:13.5vh;
  }




  footer{
    width:100%;
    height:7vh;
    background-color: #ea0f81;
    align-items: left;
    margin:0;
    float: left;
    position: fixed;
    bottom: 0;
    right: 0;
  }

  #powerbyt{
    font-family: 'coolvetica','coolvetica',serif;
  }

  #partner{
    margin-left:5vw;
    display:flex;
    flex-direction: row;
    margin-top: 1vh;
  }

  .sponsor{
      height: 5vh;
      width: auto;
      margin: auto;
  }
}




/*
@media only screen and (max-width: 500px) {
#home-phonebar{
  background-color: #ffffff;
  display: flex; 
  justify-content: space-around;

}

    
#desktop{
  display:none;
}

.hidden{
    display:none;
}

    
section{
  background-image: url(../assets/homepage/bg_mobile.png) ;
  background-color: #68b436;
  display: flex;
  flex-direction: column;
  margin-left:0px;
  margin-right:0px;
  height: 75vh;
  margin-bottom:0px;
  width:100vw;
}

#info{
  background-color: orange;
  height:20vh;
  margin-left:0px;
  margin-right:0px;
  margin-top: -25px;
  width:100vw;
}


    
#logo{
    height: auto;
    width:20vh;
    margin: auto;
    margin-top:1vh;
    margin-bottom:1vh;
}

#menu{
    height: auto;
    width: 10vh;
    margin: auto;
    margin-top:1vh;
    margin-bottom:1vh;
}
    
#knowm{
    width:40vh;
    height: auto;
    margin:auto;
    margin-top: auto;
}

#lizardm{
   width: 40vh;
   height: auto;
   margin: auto;
   margin-top: 3vh;
}


}*/