/* Paragraph Fonts */
@font-face {
  font-family: "Corbel";
  src: url("./assets/fonts/Corbel/corbel.woff2") format("woff2"),
    url("./assets/fonts/Corbel/corbel.woff") format("woff"),
    url("./assets/fonts/Corbel/corbel.eot") format("embedded-opentype"),
    url("./assets/fonts/Corbel/corbel.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/Corbel/corbel.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Corbel";
  src: url("./assets/fonts/Corbel/corbel-bold.woff2") format("woff2"),
    url("./assets/fonts/Corbel/corbel-bold.woff") format("woff"),
    url("./assets/fonts/Corbel/corbel-bold.eot") format("embedded-opentype"),
    url("./assets/fonts/Corbel/corbel-bold.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/Corbel/corbel-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("./assets/fonts/BebasNeue/bebasneue-regular.woff2") format("woff2"),
    url("./assets/fonts/BebasNeue/bebasneue-regular.woff") format("woff"),
    url("./assets/fonts/BebasNeue/bebasneue-regular.eot")
      format("embedded-opentype"),
    url("./assets/fonts/BebasNeue/bebasneue-regular.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/BebasNeue/bebasneue-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Heading Fonts */
@font-face {
  font-family: "Coolvetica";
  src: url("./assets/fonts/Coolvetica/coolvetica.woff2") format("woff2"),
    url("./assets/fonts/Coolvetica/coolvetica.woff") format("woff"),
    url("./assets/fonts/Coolvetica/coolvetica.eot") format("embedded-opentype"),
    url("./assets/fonts/Coolvetica/coolvetica.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/Coolvetica/coolvetica.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Night Zone";
  src: url("./assets/fonts/NightZone/night-zone.woff2") format("woff2"),
    url("./assets/fonts/NightZone/night-zone.woff") format("woff"),
    url("./assets/fonts/NightZone/night-zone.eot") format("embedded-opentype"),
    url("./assets/fonts/NightZone/night-zone.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/NightZone/night-zone.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  /* Colors */
  --c-green: #68b436;
  --c-green-light: #6cc25b;
  --c-orange: #ef7f1a;
  --c-orange-light: #f29542;
  --c-purple: #a8518a;
  --c-blue: #008dd2;
  --c-magenta: #ea0f81;

  --c-heading-w: #f5f5f5;
  --c-heading-b: #242424;

  --c-para-w: #f1f1f1;
  --c-para-b: #363636;

  /* Typography */
  --para-font1: "Corbel", sans-serif;
  --para-font2: "Bebas Neue", sans-serif;
  --heading-font1: "Coolvetica", sans-serif;
  --heading-font2: "Night Zone", serif;

  color-scheme: light;
  /* background-color: var(--c-green); */
}

body {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  font-family: var(--para-font1);
  font-weight: 400;
  color: var(--c-para-w);
}

.layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

main {
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--heading-font1);
  color: var(--c-heading-w);
}
